table {
  width: 100%;
}

.tab-container{
  height:50px;
  width:300px;
  border:1px solid red;
  display:flex;
}

.post-section{
  width:150px;
  height: 30px;
}

.post-text{
  width:150px;
  height: 20px;
  line-height: 20px;
  background: linear-gradient(to right,#EE362525,#FFFFFF);
  /* opacity:0.6; */
  /* background-color: yellow; */
}
